node_modules
dist
./.env
.DS_Store
.vscode/
.idea/
*.pyc
__pycache__/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
.cache/
*.sqlite3
*.db
*.sqlite
*.log
logs/
*.env
.venv/
dep/
logs/
*.log
*.bak
*.swp
*.tmp
temp/
tmp/
.cache/
.next/
